*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    background-color: burlywood;
    display: flex;
    height: 50px;
    font-weight: 700;
    color: red;
    padding: 1em;   
    text-align: center;    
    position: sticky;    
    top: 0;   
    
}
.navbar li{
    list-style: none;
    padding: 26px 30px;
    
    
}
.menuitems li{
    align-items: center;
    text-align: center;
    
    
}
.logo a span{
    color: green;
    
}
.logo{
    
    font-size: 35px;
    font-weight: 600;
    align-items: left;
    align-items: left;
}
a:link {
    color: red;
        }
a:visited {
            color: blue;

          }
a:hover {
            color:yellow;
        }
a:active {
            color:sienna;
          }
 .profpic{
    display: flex;    
    align-items: justify;
    height: 200px;
    width: fit-content;    
    padding-right: 50px;
    width: 100%;
            
        }     
    h1,h2{
        text-align: center;
    }    
    .column1{
        float: left;
        width: 40%;
        }
    
            
    .column2{
        float: right;
        width: 60%;
    }
    .table{
    border: lemonchiffon;
    border-style: dotted;
    border-width: 10px;
    background-color: lightpink;
    padding-right: 10px;
    float: right;
    text-align: center;
    outline-width: 10px;
    max-height: 95%;
    padding-bottom: 0px;
}
th, td {
    border: 1px solid black;
}
.table{
    border: lemonchiffon;
    border-style: dotted;
    border-width: 10px;
    background-color:goldenrod ;
    padding-right: 0px;
    padding-left: 25px;
    text-align: center;
    float: right;
    outline-width: 10px;
    max-height: 95%;
    padding-bottom: 0px;
    font-size: medium;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th, td {
    border: 1px solid black;
}
.column1.hobbies{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-decoration: none;
    text-align: justify;
}